In [1]:
import postgresql
import pandas
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

## 1. Create a DataFrame with the Census Data from HW2

Find two examples in the course content in Blackboard  
Database Details:   
user='new_haven_ds_read'  
password='new_haven_ds_secret_99'  
host='spring-22.cwroivw0q1rc.us-east-1.rds.amazonaws.com'  
database='nhds'  
  
  
 SQL: sql = 'select * from nhds.uci_adults'

In [2]:
import postgresql

#db = postgresql.open("pq://new_haven_ds_read:new_haven_ds_secret_99@spring-22.cwroivw0q1rc.us-east-1.rds.amazonaws.com/nhds")
db = postgresql.open("pq://new_haven_ds_read:new_haven_ds_secret_99@spring-22.cwroivw0q1rc.us-east-1.rds.amazonaws.com/nhds")

In [8]:
# Let's create our SQL.....this is just a string
sql = 'select * from nhds.uci_adults'

# This is a prepared statement
ps = db.prepare(sql)

# Get results back and store in res variable
res = ps()

In [9]:
# making pandas dataframe
import pandas as pd
# Let's make it a DataFrame
df = pd.DataFrame(res, columns=ps.column_names)

In [11]:
df.head()

,age,workclass,fnlwgt,education,educational_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income,id
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,2
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,3
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,4
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,5

## 2. Split the data into training and testing sets

In [15]:
# avoiding IDs
X = df.iloc[:, :-2]
y = df.iloc[:,-2]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=0)

## 3. Use sklearn's LabelEncoder to make the columns with strings usuable

## 4. Create a Decision Tree with the Census Data

## 5. Create a Random Forest with the same Census Data

# 6. Compare the Accuracy of the Random Forest and the base Decision Tree.  Which is Better?  Why?